BODY {
  font-family: Tahoma, Arial, sans-serif;
  color: black;
  background-color: white;
}

H1 {
  font-family: Tahoma, Arial, sans-serif;
  color: white;
  height: 130px;
  /*width:1000px;*/
  background-color: #2D377A;
  background-image:url("newbanner.jpg");
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}

H2 {
  font-family: Tahoma, Arial, sans-serif;
  color: white;
  background-color: #2D377A;
  font-size: 16px;
}

H3 {
  font-family: Tahoma, Arial, sans-serif;
  color: white;
  background-color: #2D377A;
  font-size: 14px;
}

B {
  font-family: Tahoma, Arial, sans-serif;
  color: white;
  background-color: #2D377A;
}

P {
  font-family: Tahoma,Arial,sans-serif;
  background: white;
  color: black;
  font-size: 12px;
}

A {
  color : #696B77;
}

A.name {
  color : #696B77;
}

HR {
  color : #2D377A;
}
